---
import { toHTML } from "discord-markdown";
import { parse } from "node-html-parser";
import { getUser } from "@lib/discord";
import styleParsedMessage from "@utils/styleParsedMessage";

const { message, thread } = Astro.props;

const user = await getUser(message.author.id);

const html = toHTML(message.content);

const parsed = parse(html);

styleParsedMessage(parsed);
---

<article
  class="flex flex-col border-2 p-5 rounded-lg border-slate-800 bg-gray-700"
>
  <div class="flex gap-3 items-center">
    {
      typeof user.avatar === "undefined" || "null" ? (
        <img
          src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/discord-1024.png"
          class="rounded-full h-10 w-10 self-center"
        />
      ) : (
        <img
          src={`https://cdn.discordapp.com/avatars/${message.owner_id}/${user.avatar}.png`}
          class="rounded-full h-10 w-10 self-center"
        />
      )
    }
    <h3 class="font-bold">Written by: {message.author.username}</h3>
  </div>

  <div class="flex flex-col gap-1 mt-5">
    {parsed}
  </div>
</article>
